<footer id="colophon" class="site-footer" role="contentinfo">
  <div class="colophoncontainer">
    <div class="jointheclubblock">
            	<h3>JOIN THE CLUB</h3>
            	<h2>Sign Up For <span>Exclusive Offers</span>, New Arrivals and Style Updates</h2>
                <div class="jointheclub_inputblock">
                	<span>+91</span>
                    <input name="tel" id="telnum" type="tel" placeholder="Enter your mobile number.">
                    <input id="jointheclubsubmit" type="submit" value="Go">
                    <div class="club_succes" style="display: none;">You have Joined the Club.</div>
                    <div class="club_error" style="display: none;">Please Enter Your Mobile Number.</div>
                	<div class="club_invalid" style="display: none;">Please Enter a Valid Mobile Number.</div>
                </div> 
                <!--</form>-->
                <h4>follow us on</h4>
            	<ul class="">
                	<li><a href="https://www.facebook.com/MenatMrButton" target="_blank" class="facebookicon"></a></li>
                    <li><a href="/blog" class="twittericon" target="_blank"></a></li>
                    <li><a href="http://instagram.com/mrbutton" class="instagramicon" target="_blank"></a></li>
                    <li><a href="https://www.youtube.com/channel/UC2aH2tXmlKFZFRHIHgodyug" target="_blank" class="youtubeicon"></a></li>
                </ul>
                <ul class="newfootershippingblock">
                	<li class="first">
                    	<h5>FREE SHIPPING* </h5>
                        <h6>Free shipping on all orders<br>above INR 999</h6>
                    </li>
                   <li class="second">
                    	<h5>WIZARD SUPPORT</h5>
                        <h6>Email: wizards@mrbutton.in<br></h6>
                    </li>
                    <li class="third">
                    	<h5>EASY RETURNS</h5>
                        <h6>Having Second Thoughts?<br>Just send it back for Free</h6>
                    </li>
                    <li class="fourth">
                    	<h5>CASH ON DELIVERY</h5>
                        <h6>Pay when you get your<br>Product</h6>
                    </li>
                </ul>
				<ul class="newfooterlinkblock">
				    <li class="first">
			            <h3 class="widget-title">SHOP</h3>
			            <div class="menu-static-menu-1-container">
			                <ul id="menu-static-menu-1" class="menu">
			                    <li><a href="http://mrbutton.in/product-category/new-in/">NEW IN</a></li>
			                    <li><a href="http://mrbutton.in/product-category/all-products/">VIEW ALL</a></li>
			                    <li><a href="https://www.mrbutton.in/product-category/shirts/">SHIRTS</a></li>
			                    <li><a href="https://www.mrbutton.in/product-category/t-shirts/">T-SHIRTS</a></li>
			                    <li><a href="https://www.mrbutton.in/product-category/bottoms/">TROUSERS</a></li>
			                    <li><a href="https://www.mrbutton.in/product-category/nehru-jackets/">Nehru Jackets</a></li>
			                </ul>
			            </div>
				    </li>

				    <li class="second">
			            <h3 class="widget-title">EXPLORE</h3>
			            <div class="menu-static-menu-2-container">
			                <ul id="menu-static-menu-2" class="menu">
			                    <li><a href="http://mrbutton.in/poetic-justice/">CAMPAIGN</a></li>
			                    <li><a href="http://mrbutton.in/blog/">JOURNAL</a></li>
			                    <li><a href="http://mrbutton.in/guide-shop">GUIDE SHOP</a></li>
			                    <li><a href="https://mrbutton.in/contact-us/">GIVE FEEDBACK</a></li>
			                </ul>
			            </div>
				    </li>

				    <li class="third">
			            <h3 class="widget-title">SUPPORT</h3>
			            <div class="menu-static-menu-3-container">
			                <ul id="menu-static-menu-3" class="menu">
			                    <li><a href="https://www.mrbutton.in/track-shipment-status/">TRACK ORDER</a></li>
			                    <li><a href="https://mrbutton.in/return-request/">REQUEST RETURN</a></li>
			                    <li><a href="https://mrbutton.in/blog/knowledgebase_category/shipping-and-delivery/">SHIPPING POLICY</a></li>
			                    <li><a href="https://mrbutton.in/blog/knowledgebase_category/return/">RETURN POLICY</a></li>
			                    <li><a href="https://www.mrbutton.in/knowledgebase/">FAQ’s</a></li>
			                    <li><a href="https://www.mrbutton.in/retail-contact-us/">BE A FRANCHISE</a></li>
			                </ul>
			            </div>
					</li>

				    <li class="fourth">
			            <h3 class="widget-title">CONTACT</h3>
			            <div class="execphpwidget">wizards@mrbutton.in</div>
			            <div class="execphpwidget">
			                <img src="https://www.mrbutton.in/wp-content/themes/MRBUTTON_THEME/images/newfooter_paymentmethod.png">
			            </div>
			            <div class="execphpwidget">
			                <div class="widget_mailchimpsf_widget">
			                    <h3 class="widget-title">SIGN UP FOR STYLE JOURNAL </h3>
			                    <div id="mc_signup">
			                        <div class="mc_form_inside">
			                            <div class="mc_merge_var">
			                                <input name="email" id="subscriber_email" type="text" placeholder="Enter email address.">
			                            </div>
			                            <div class="mc_signup_submit">
			                                <input id="jointheclubbyemailsubmit" type="submit" value=">">
			                            </div>
			                            <div class="mc_success_msg " style="display: none; font-size: 12px; color:green">You have Joined the Club.</div>
			                            <div class="mc_error_msg" style="display: none; font-size: 12px; color:red">Please Enter Your Email Id.</div>
			                            <div class="mc_invalid_msg" style="display: none; font-size: 12px; color:red">Please Enter a Valid Email Id.</div>
			                            <div class="mc_exists_msg" style="display: none; font-size: 12px; color:red">Email Id exists.</div>
			                        </div>
			                    </div>
			                </div>
			            </div>
				    </li>
				</ul>

                <div class="newfooter_content">
				    <ul>
				        <li>
			           		<h1>Seamless Online Shopping Experience.</h1>
			            	<h2>Mrbutton.com is a one-stop shop for mens wardrobe essentials. We pitch in a wide variety of razor sharp
			                <a href="https://www.mrbutton.in/product-category/bottoms/"> trousers</a>, sensational
			                <a href="https://www.mrbutton.in/product-category/nehru-Jackets/">Nehru jackets</a>, men's
			                <a href="https://www.mrbutton.in/product-category/shirts/"> shirts</a>,
			                <a href="https://www.mrbutton.in/product-category/t-shirts/">t-shirt</a> and structured mens blazers. We also understand that sometimes you might not be as happy with the products you order online. Be rest assured, we believe in our customers and have a no question return policy. If you do not like
			                a product, just let our wizards know and sit back and relax! Our shipping is just as sharp and structured as our clothes. We not only provide, the modern dandy, with free shipping but also COD. Need more reasons to stay stylish? .</h2>
				        </li>
				        <li>
			            	<h1>Modern Menswear</h1>
			            	<h2>We at Mr Button, believe in making a man look sharp at all times. Mr Button is a modern man's fashion brand which brings sharp and minimal design aesthetics. We are a brand where the fit and structure, taste for elegance and style, and the
			                modern consumer is our utmost priority. Our team has the most dynamic people who hold similar tastes but have a different approach. This makes us motivated to strive for more and not settle for anything. We are very particular about the
			                craftsmanship that goes into making every garment, at the same time ensuring that it is affordable.</h2>
				        </li>
				        <li>
				            <h1>Mr Button: Your Online Stylist</h1>
				            <h2>We are constantly working to make your shopping experience easier and better. Mr Button is here to help you decide whether that denim shirt will look good with those wine
			                <a href="https://www.mrbutton.in/product-category/bottoms/">trousers</a> or which
			                <a href="https://www.mrbutton.in/product-category/shoes/">shoes</a> would complete the look paired with a perfect leather bag and a watch. In order to make it easier, we have a team of expert stylists and Indias top male bloggers who not only use our products but also give tips to get the most
			                out of them!
			                <a href="https://www.mrbutton.in/blog/">Mr Button Journal</a> is there to help you stay upto date with current trends and to help you pick the right products for yourself. Our effort is to help you boost your basics and keep refreshing your wardrobe. Head over to our look-book
			                to identify which personality suits you the best and leave it to us from there on. From party wear to sharp formals, we have the perfect mix for all occasions. </h2>

				        </li>
				        <li>
				            <h1>You have us, Wizards, for any support</h1>
				            <h2>We at Mr Button are here to help you at all times. Our wizards ensure that as a customer, your query is addressed and solved at the flick of a wand. If you have any queries regarding any of our products, contact us at
			                <a href="mailto: wizards@mrbutton.in">wizards@mrbutton.in</a>. We would be more than happy to hear from you and help you in each and every way possible.</h2>
				        </li>
				    </ul>
				</div>
			</div>
	</div>
</footer>